.away{
    color: #000080; 
    background-color: #c5a82c;
}
.home{
    color: #c5a82c; 
    background-color: #000080;
}
.fc-day-grid-event{
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
    
}
