.away{
    color: #000080;
    background-color: #c5a82c;
}
.home{
    color: #c5a82c;
    background-color: #000080;
}
.fc-day-grid-event{
    width: auto;
    border: 13px solid #bed5cd;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

}
button {
  background-color: transperant;
  outline:none;
  border:none;
}
@media screen and (max-width: 640px) {
	table {
		overflow-x: auto;
		display: block;
	}
}
